/*
Author: Donovan Hayden
Date: 8-17-2023
File Name: retronet.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	width: 80%;
	margin: 0 auto;
	background-color: #000;
	font-family: 'Times New Roman';
	border: 1px solid #115612;
}

img {
	max-width: 100%;
	display: block;
	border: 5px dashed #115612;
}

img.pic {
	max-width: 75%;
	margin: auto;
	text-align: center;
}

/* Style rule for Mobile Viewport */

/* Style rule for header, h1-4 */
header {
	background-color: #000;
	border: 1px solid #115612;
	top: 0;
	text-align: center;
	padding: 5%;
}

h1 {
	font-family: 'Courier New';
	color: #C8335B;
}

h2 {
	font-family: 'Courier New';
	color: #C8335B;
}

h4 {
	font-family: 'Sans';
	color: #C8335B;
}

/* Style rules for navigation area */
nav {
	border: 1px solid #115612;
	text-align: center;
	margin-bottom: 1%;
}

nav table {
	width: 100%;
	background-color: #000;
	border: 1px solid #115612;
	padding: 0.1%;
}

nav tr {
	width: 100%;
	background-color: #000;
	border: 1px solid #115612;
}

nav td {
	width: 30%;
	background-color: #000;
	border: 1px solid #115612;
	display: inline-block;
	font-size: 16px;
	padding: 1%;
}

nav td a {
	color: #5DF15D;
	display: block;
	text-align: center;
	text-decoration: none;
}

nav td a:hover {
	background-color: #5DF15D;
	color: #000;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

/* Style rules for content */
main {
	background-color: #000;
	color: #C8335B;
	border: 1px solid #115612;
}

main table {
	width: 100%;
	background-color: #000;
	box-sizing: border-box;
	border: 1px solid #115612;
	padding: 0.1%;
}

main tr {
	background-color: #000;
	border: 1px solid #115612;
}

main td {
	background-color: #000;
	border: 1px solid #115612;
	padding: 2%;
}

main td a {
	color: #5DF15D;
}

main td.side {
	width: 30%;
	font-size: 14px
}

main td.main {
	width: 70%;
	font-size: 14px
}

/* Style rules for footer content */
footer {
	background-color: #000;
	text-align: center;
	border: 1px solid #115612;
}

footer p {
	font-size: 12px;
	color: #C8335B;
}

footer p a {
	color: #5DF15D;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {

	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop {
		display: block;
	}

	.mobile {
		display: none;
	}

}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {

}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {

	#container {
		width: 1920px;
		margin: 0 auto;
	}

}

/* Media Query for Print */
@media print {

	body {
		background-color: #fff;
		color: #000;
	}

}
