/*
Author: Donovan Hayden
Date: 8-08-2023
File Name: retronet.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	width: 800px;
	background-color: #000;
	font-family: 'Times New Roman';
	border: 1px solid #115612;
	margin: 0 auto;
}

img {
	max-width: 100%;
	display: block;
	border: 5px dashed #115612;
}

img.pic {
	width: 100%;
	height: 100%;
}

/* Style rule for header */
header {
	background-color: #000;
	color: #115612;
	float: center;
	text-align: center;
	padding: 5%;
}

h1 {
	font-family: 'Courier New';
	color: #115612;
}

h2 {
	font-family: 'Courier New';
	color: #115612;
}

h4 {
	font-family: 'Sans';
	color: #115612;
}

/* Style rules for navigation area */
nav {
	width: 100%;
	background-color: #000;
	border: 1px solid #115612;
}

nav table {
	width: 100%;
	background-color: #000;
	border: 1px solid #115612;
}

nav tr {
	margin: 0;
	background-color: #000;
	border: 1px solid #115612;
	padding: 0.1%;
}

nav td {
	background-color: #000;
	border: 1px solid #115612;
	display: inline-block;
	font-size: 16;
	padding: 1%;
}

nav td a {
	color: #5DF15D;
	display: block;
	text-align: center;
	text-decoration: none;
}

/* Style rules for content */
main {
	background-color: #000;
	color: #C8335B;
	width: 100%;
}

main table {
	width: 100%;
	background-color: #000;
	box-sizing: border-box;
	border: 1px solid #115612;
	padding: 0.1%;
}

main tr {
	background-color: #000;
	margin: 0;
	border: 1px solid #115612;
}

main td {
	background-color: #000;
	margin: 0;
	border: 1px solid #115612;
	padding: 2%;
}

main td a {
	color: #5DF15D;
}

main td.side {
	width: 30%;

	font-size: 14px
}

main td.main {
	width: 70%;
	font-size: 14px
}

/* Style rules for footer content */
footer {
	background-color: #000;
	text-align: center;
	width: 100%;
	border: 1px solid #115612;
}

footer p {
	font-size: 14px;
	color: #C8335B;
}

footer p a {
	color: #5DF15D;
}
